---
const { title } = Astro.props;
---

<header class="d-flex align-items-center pb-3 mb-4 border-bottom">
  <h3 class="d-flex align-items-center text-decoration-none">
    <span class="fs-3 ps-3">
      { title }
    </span>
  </h3>
</header>